/* default.css - TVS auto-syndicated news portal */

@import url(http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope);
@import url(http://fonts.googleapis.com/css?family=Questrial);

/* Responses */
@import url(/styles/desktop.css);
@import url(/styles/tablet.css);
@import url(/styles/phone.css);


html {
    -webkit-text-size-adjust: none;
    margin: 0;
    padding: 0;
}