<?xml version='1.0' encoding='utf-8' ?>

<config>

    <!-- Database configuration -->
    <dbase driver='DBI:mysql' host='localhost' database='tvs' user='root' password='s4rc0m4' />

    <!-- Article Interval configuration -->
    <interval name='home' days='30' votes='8' />
    <interval name='featured' days='30' votes='5' />
    <interval name='watch_list' days='30' votes='2' />
    <interval name='inbox' days='30' votes='0' />

    <!-- Article Pruning configuration -->
    <prune days='120' votes='all' />

    <!-- RSS Subscription configuration -->
    <rss title='TVS' link='http://tvs.thoughtpivot.com' language='en' description='a pretty cool news portal' rating='(PICS-1.1 "http://www.classify.org/safesurf/" 1 r (SS~~000 1))' copyright='2012 Thoughtpivot, LLC' webmaster='ispyhumanfly' />

</config>
